<style type="text/css">

	
	.login-container{
		margin-top: 40px;
	}
	.login-container h3{
		margin-top: -4px;
		margin-bottom: 25px;
	}
</style>

<div class="row">
	<nav class="navbar navbar-default navbar-fixed-top">
		<div class="col-md-4 col-sm-4 col-xs-4">
			<div class="back">
				<a ui-sref="list"><i class="fa fa-chevron-left"></i>&nbsp;&nbsp;</a>
			</div>
		</div>
		<div class="col-md-4 col-sm-4 col-xs-4">
			<div class="row">
				<div align="center" class="title">Note Plus</div>
			</div>
		</div>
		<div class="col-md-4 col-sm-4 col-xs-4">

		</div>
	</nav>
</div>
<br><br><br>

<div class="container-fluid login-container">

	<div class="row">
		<div class="col-md-4 col-sm-10 col-xs-10 col-md-offset-4 col-sm-offset-1 col-xs-offset-1">

				<center>
					<h3>Alterar Senha</h3>
					<form class="form-horizontal">

						<div class="form-group">
							<div class="col-md-8 col-sm-10 col-xs-10 col-md-offset-2 col-sm-offset-1 col-xs-offset-1">
								<input type="password" class="material-input" placeholder="Nova Senha" ng-model="password">
							</div>
						</div>
						<br>
						<div class="form-group">
							<div class="col-md-8 col-sm-10 col-xs-10 col-md-offset-2 col-sm-offset-1 col-xs-offset-1">
								<a role="button" class="btn btn-block btn-primary" ng-click="salvar(password)">Salvar</a>
							</div>
						</div>
					</form>

				</center>

		</div>
	</div>

	<np-loading loading="loading"></np-loading>

</div>
